flows_raspberrypi.json
[{"type":"tab","id":"1a0f555c.e5f0ab","label":"Sheet 1"},{"id":"4308d2ac.bcf72c","type":"function","name":"Toggle LED on input","func":"\n// select wpi pin 0 = pin 11 on header (for v2)\nvar pin = 0;\n\n// initialise the wpi to use the global context\nvar wpi = context.global.wpi;\n\n// use the default WiringPi pin number scheme...\nwpi.setup();\n\n// initialise the state of the pin if not already set\n// anything in context.  persists from one call to the function to the next\ncontext.state = context.state || wpi.LOW;\n\n// set the mode to output (just in case)\nwpi.pinMode(pin, wpi.modes.OUTPUT);\n\n// toggle the stored state of the pin\n(context.state == wpi.LOW) ? context.state = wpi.HIGH : context.state = wpi.LOW;\n\n// output the state to the pin\nwpi.digitalWrite(pin, context.state);\n\n// we don't \"need\" to return anything here but may help for debug\nreturn msg;","outputs":1,"x":280,"y":90,"z":"1a0f555c.e5f0ab","wires":[["c87cf7d9.378308"]]},{"id":"a54c58b2.5ab3a8","type":"inject","name":"tick","topic":"","payload":"","repeat":"1","once":false,"x":60,"y":70,"z":"1a0f555c.e5f0ab","wires":[["4308d2ac.bcf72c"]]},{"id":"c87cf7d9.378308","type":"debug","name":"","active":true,"x":500,"y":110,"z":"1a0f555c.e5f0ab","wires":[]}]